body {
  align-items: center;
  text-align: center;
}
header {
  align-items: center;
  text-align: center;
}
.game-status-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-grid {
  display: grid;
  justify-content: center;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
  gap: 1px;
}

.cell {
  height: 50px;
  width: 50px;
}

.input-box {
  height: 100%;
  width: 100%;
  padding: 0;
  border: solid;
  border-color: grey;
  text-align: center;
}

.btn-container {
  padding-top: 20px;
}
